<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">

	<servlet>
		<servlet-name>WeiXinAction</servlet-name>
		<servlet-class>com.prism.action.WeiXinAction</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>WeiXinAction</servlet-name>
		<url-pattern>/wx1</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>WeiXinMLAction</servlet-name>
		<servlet-class>com.prism.action.WeiXinMLAction</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>WeiXinMLAction</servlet-name>
		<url-pattern>/wx</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>WeiXinQYAction</servlet-name>
		<servlet-class>com.prism.action.WeiXinQYAction</servlet-class>
	
	</servlet>
	<servlet-mapping>
		<servlet-name>WeiXinQYAction</servlet-name>
		<url-pattern>/wx2</url-pattern>
	</servlet-mapping>




</web-app>
